In [1]:
import math
import pathlib
import os

import pandas as pd
import numpy as np

In [2]:
well_data = pd.read_excel('../data/well_data.xlsx')

In [19]:
df = well_data[["Well Name","Well Types"]]
df

                           Well Name         Well Types
0                  1021 Westview Way  Residential Wells
1                  1024 Westview Way  Residential Wells
2                  1049 Westview Way  Residential Wells
3                         105 Myrtle  Residential Wells
4                         105 Myrtle  Residential Wells
...                              ...                ...
34361  Weber's Drain 1st Sister Lake  Residential Wells
34362        Weber's Heat Pump Drain  Residential Wells
34363        Weber's Heat Pump Drain  Residential Wells
34364                 West Park Pond      Surface Water
34365                 West Park Pond      Surface Water

[34366 rows x 2 columns]

In [20]:
df = df.rename(columns={"Well Name": "Well_Name", "Well Types": "Well_Types"})
df = df.drop_duplicates(ignore_index=True)

In [21]:
df.to_csv('../data/well_types.csv')

In [47]:
s = pd.read_excel('../data/shiny_data/well_data.xlsx')

In [49]:
s.columns

Index(['Bore', 'Depth1', 'Depth2', 'SampleDate', 'Value', 'Elevation', 'lat',
       'lon'],
      dtype='object')

In [48]:
s = s.drop(['Unnamed: 0.1', 'Unnamed: 0','Comment','Name',
       'Enabled', 'Easting', 'Northing', 'TotalDepth',
       'CollarElevation', 'Comments', 'GEIcon', 'Color', 'SymbolTypeId',
       'NeedXYZCalc', 'dd_lon', 'dd_lat', 'lcs_x', 'lcs_y', 'lcs_unit',
       'pls_meridian', 'pls_range', 'pls_township', 'pls_section',
       'pls_offset_based', 'pls_x_offset', 'pls_y_offset', 'pls_fwl',
       'pls_fsl', 'pls_description', 'spc_zone', 'spc_x', 'spc_y', 'spc_unit',
       'utm_datum', 'utm_zone', 'utm_x', 'utm_y', 'utm_unit', 'pj4_x', 'pj4_y',
       'pj4_paramstr'],axis=1)
s

,Bore,Depth1,Depth2,SampleDate,Value,Elevation,lat,lon
0,110 Parkland Plaza,80.2,91.0,1986-08-22,17.0,936.1181,42.283188,-83.814204
1,110 Parkland Plaza,80.2,91.0,1986-09-19,17.0,936.1181,42.283188,-83.814204
2,110 Parkland Plaza,80.2,91.0,1986-10-10,12.0,936.1181,42.283188,-83.814204
3,110 Parkland Plaza,80.2,91.0,1987-11-09,7.0,936.1181,42.283188,-83.814204
4,110 Parkland Plaza,80.2,91.0,1988-04-18,13.0,936.1181,42.283188,-83.814204
...,...,...,...,...,...,...,...,...
18747,TW-9,105.0,115.0,2019-11-25,450.0,919.4272,42.280147,-83.806439
18748,TW-9,105.0,115.0,2020-01-07,520.0,919.4272,42.280147,-83.806439
18749,TW-9,105.0,115.0,2020-01-14,530.0,919.4272,42.280147,-83.806439
18750,TW-9,105.0,115.0,2020-04-02,430.0,919.4272,42.280147,-83.806439
18751,TW-9,105.0,115.0,2020-11-23,490.0,919.4272,42.280147,-83.806439

In [50]:
s.to_csv('../data/shiny_data/well_data.csv')