In [8]:
import datetime
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
from autots import AutoTS
import pathlib
import json

In [9]:

gelman_data = pd.read_excel('../../data/Gelman_2020_DATA_Rockworks6-2020.xlsx',
                          sheet_name = 'TmInterval')

loc_data = pd.read_excel('../../data/Gelman_2020_DATA_Rockworks6-2020.xlsx',
                          sheet_name = 'Location')

In [10]:
loc_data.head(20)

,Bore,Enabled,Easting,Northing,Elevation,TotalDepth,CollarElevation,Comments,GEIcon,Color,...,spc_y,spc_unit,utm_datum,utm_zone,utm_x,utm_y,utm_unit,pj4_x,pj4_y,pj4_paramstr
0,1021 Westview Way,False,1.327472e+07,281015.800,1017.0000,268.0,-9999.00,NaN,1,0,...,0,1,22,12,0,0,1,0,0,NaN
1,1024 Westview Way,False,1.327422e+07,281040.300,1002.0800,-9999.0,-9999.00,NaN,1,0,...,0,1,22,12,0,0,1,0,0,NaN
2,1049 Westview Way,False,1.327472e+07,280891.300,1017.5300,280.0,-9999.00,NaN,1,0,...,0,1,22,12,0,0,1,0,0,NaN
3,105 Myrtle,False,1.326925e+07,286712.500,886.2000,65.0,884.00,Replacement water supply well.,1,0,...,0,1,22,12,0,0,1,0,0,NaN
4,1052 Westview Way,False,1.327430e+07,280863.700,1003.2100,276.0,-9999.00,NaN,1,0,...,0,1,22,12,0,0,1,0,0,NaN
5,1080 Westview Way,False,1.327433e+07,280728.800,1001.0800,276.0,-9999.00,NaN,1,0,...,0,1,22,12,0,0,1,0,0,NaN
6,110 Parkland Plaza,False,1.327283e+07,285907.000,936.1181,91.0,936.18,NaN,1,0,...,0,1,22,12,0,0,1,0,0,NaN
7,1105 Westview Way,False,1.327476e+07,280633.000,1015.7700,251.0,-9999.00,NaN,1,0,...,0,1,22,12,0,0,1,0,0,NaN
8,1108 Westview Way,False,1.327437e+07,280620.000,1000.8500,266.0,-9999.00,NaN,1,0,...,0,1,22,12,0,0,1,0,0,NaN
9,1130 Westview Way,False,1.327430e+07,280492.400,994.5400,282.0,-9999.00,NaN,1,0,...,0,1,22,12,0,0,1,0,0,NaN
10,1132 South Maple,False,1.328199e+07,280538.600,987.0964,-9999.0,-9999.00,NaN,1,0,...,0,1,22,12,0,0,1,0,0,NaN
11,114 Myrtle,False,1.326921e+07,286591.310,882.4338,54.0,-9999.00,NaN,1,0,...,0,1,22,12,0,0,1,0,0,NaN
12,1149 Southwood Ct,False,1.327474e+07,280476.800,1009.8400,257.0,-9999.00,NaN,1,0,...,0,1,22,12,0,0,1,0,0,NaN
13,116 LUELLA ST,False,1.326854e+07,286627.931,873.8075,54.0,874.00,NaN,1,0,...,0,1,22,12,0,0,1,0,0,NaN
14,1210 S Wagner Rd,False,-9.999000e+03,-9999.000,-9999.0000,165.0,-9999.00,NaN,1,0,...,0,1,22,12,0,0,1,0,0,NaN
15,1239 Westview Way,False,1.327446e+07,280002.860,999.4791,-9999.0,-9999.00,Sampling requested by owner selling home.,1,0,...,0,1,22,12,0,0,1,0,0,NaN
16,131 Myrtle,False,1.326931e+07,286475.530,880.9197,39.0,-9999.00,Water Supply Well In Use,1,0,...,0,1,22,12,0,0,1,0,0,NaN
17,170 Aprill,False,1.327451e+07,285598.000,907.2557,50.0,911.07,NaN,1,0,...,0,1,22,12,0,0,1,0,0,NaN
18,175 Jackson Plaza,False,1.327635e+07,285337.370,929.4347,103.0,930.02,X-Y coordinates resurveyed Oct 2012 & TOC surv...,1,0,...,0,1,22,12,0,0,1,0,0,NaN
19,2100 South Wagner Rd,False,1.327687e+07,274919.140,1050.0000,217.0,-9999.00,04/14/21/JPR: Elevation changed from -9999 to ...,1,0,...,0,1,22,12,0,0,1,0,0,NaN

In [5]:
from pyproj import CRS
from pyproj import Transformer
crs = CRS.from_proj4("+proj=lcc +lat_1=42.1 +lat_2=43.66666666666666 +lat_0=41.5 +lon_0=-84.36666666666666 +x_0=4000000 +y_0=0 +ellps=GRS80 +datum=NAD83 +to_meter=0.3048006096012192 no_defs")

crs_4326 = CRS.from_epsg(4326)

transformer = Transformer.from_crs(crs, crs_4326)

x1,y1  = 13274717.9 , 281015.8

transformer.transform(x1,y1)

(42.269731983117495, -83.8073438786552)

In [13]:
loc_copy = loc_data.copy()
loc_copy.loc[:, 'lat'] = transformer.transform(loc_copy["Easting"],
                                               loc_copy["Northing"])[0]
loc_copy.loc[:, 'lon'] = transformer.transform(loc_copy["Easting"],
                                               loc_copy["Northing"])[1]
loc_copy.head(5)

,Bore,Enabled,Easting,Northing,Elevation,TotalDepth,CollarElevation,Comments,GEIcon,Color,...,utm_datum,utm_zone,utm_x,utm_y,utm_unit,pj4_x,pj4_y,pj4_paramstr,lat,lon
0,1021 Westview Way,False,13274717.9,281015.8,1017.00,268.0,-9999.0,NaN,1,0,...,22,12,0,0,1,0,0,NaN,42.269732,-83.807344
1,1024 Westview Way,False,13274221.6,281040.3,1002.08,-9999.0,-9999.0,NaN,1,0,...,22,12,0,0,1,0,0,NaN,42.269808,-83.809177
2,1049 Westview Way,False,13274722.1,280891.3,1017.53,280.0,-9999.0,NaN,1,0,...,22,12,0,0,1,0,0,NaN,42.269390,-83.807331
3,105 Myrtle,False,13269250.0,286712.5,886.20,65.0,884.0,Replacement water supply well.,1,0,...,22,12,0,0,1,0,0,NaN,42.285462,-83.827411
4,1052 Westview Way,False,13274301.3,280863.7,1003.21,276.0,-9999.0,NaN,1,0,...,22,12,0,0,1,0,0,NaN,42.269322,-83.808887

In [29]:
result = pd.merge(gelman_data, loc_copy, on=["Bore", "Bore"])

remove_invalid = result.loc[result['Easting'] != -9999].copy()

In [31]:
remove_invalid.to_excel("../../result(new)/joined_well_data.xlsx")