In [1]:
import pandas as pd
gelman_data = pd.read_excel("../../result(new)/joined_well_data.xlsx")
gelman_data.head(5)

,Unnamed: 0,Bore,Name,Depth1,Depth2,SampleDate,Value,Comment,Enabled,Easting,...,utm_datum,utm_zone,utm_x,utm_y,utm_unit,pj4_x,pj4_y,pj4_paramstr,lat,lon
0,0,1021 Westview Way,1-4 Dioxane,260.0,268.0,2019-05-08,0.5,EGLE Lab,False,13274717.9,...,22,12,0,0,1,0,0,NaN,42.269732,-83.807344
1,1,1024 Westview Way,1-4 Dioxane,-9999.0,-9999.0,2019-05-08,0.5,EGLE Lab,False,13274221.6,...,22,12,0,0,1,0,0,NaN,42.269808,-83.809177
2,2,1049 Westview Way,1-4 Dioxane,272.0,280.0,2019-05-08,0.5,EGLE Lab,False,13274722.1,...,22,12,0,0,1,0,0,NaN,42.269390,-83.807331
3,3,105 Myrtle,1-4 Dioxane,61.0,65.0,1999-03-27,0.5,NaN,False,13269250.0,...,22,12,0,0,1,0,0,NaN,42.285462,-83.827411
4,4,105 Myrtle,1-4 Dioxane,61.0,65.0,1999-05-28,0.5,NaN,False,13269250.0,...,22,12,0,0,1,0,0,NaN,42.285462,-83.827411

In [2]:
well_data = gelman_data
well_data.loc[:, 'y']= pd.to_numeric(well_data['Value'])
well_data.loc[:, 'ds']= pd.to_datetime(well_data['SampleDate'])
well_data.head(5)

,Unnamed: 0,Bore,Name,Depth1,Depth2,SampleDate,Value,Comment,Enabled,Easting,...,utm_x,utm_y,utm_unit,pj4_x,pj4_y,pj4_paramstr,lat,lon,y,ds
0,0,1021 Westview Way,1-4 Dioxane,260.0,268.0,2019-05-08,0.5,EGLE Lab,False,13274717.9,...,0,0,1,0,0,NaN,42.269732,-83.807344,0.5,2019-05-08
1,1,1024 Westview Way,1-4 Dioxane,-9999.0,-9999.0,2019-05-08,0.5,EGLE Lab,False,13274221.6,...,0,0,1,0,0,NaN,42.269808,-83.809177,0.5,2019-05-08
2,2,1049 Westview Way,1-4 Dioxane,272.0,280.0,2019-05-08,0.5,EGLE Lab,False,13274722.1,...,0,0,1,0,0,NaN,42.269390,-83.807331,0.5,2019-05-08
3,3,105 Myrtle,1-4 Dioxane,61.0,65.0,1999-03-27,0.5,NaN,False,13269250.0,...,0,0,1,0,0,NaN,42.285462,-83.827411,0.5,1999-03-27
4,4,105 Myrtle,1-4 Dioxane,61.0,65.0,1999-05-28,0.5,NaN,False,13269250.0,...,0,0,1,0,0,NaN,42.285462,-83.827411,0.5,1999-05-28

In [24]:
import datetime as dt
start_date = dt.date(1980, 1, 1)
def cal_count(row):
    delta =row['ds'].date() - start_date
    return delta.days
well_data['DaysNum'] = well_data.apply(cal_count, axis=1)
well_data.head(5)

,Unnamed: 0,Bore,Name,Depth1,Depth2,SampleDate,Value,Comment,Enabled,Easting,...,utm_y,utm_unit,pj4_x,pj4_y,pj4_paramstr,lat,lon,y,ds,DaysNum
0,0,1021 Westview Way,1-4 Dioxane,260.0,268.0,2019-05-08,0.5,EGLE Lab,False,13274717.9,...,0,1,0,0,NaN,42.269732,-83.807344,0.5,2019-05-08,14372
1,1,1024 Westview Way,1-4 Dioxane,-9999.0,-9999.0,2019-05-08,0.5,EGLE Lab,False,13274221.6,...,0,1,0,0,NaN,42.269808,-83.809177,0.5,2019-05-08,14372
2,2,1049 Westview Way,1-4 Dioxane,272.0,280.0,2019-05-08,0.5,EGLE Lab,False,13274722.1,...,0,1,0,0,NaN,42.269390,-83.807331,0.5,2019-05-08,14372
3,3,105 Myrtle,1-4 Dioxane,61.0,65.0,1999-03-27,0.5,NaN,False,13269250.0,...,0,1,0,0,NaN,42.285462,-83.827411,0.5,1999-03-27,7025
4,4,105 Myrtle,1-4 Dioxane,61.0,65.0,1999-05-28,0.5,NaN,False,13269250.0,...,0,1,0,0,NaN,42.285462,-83.827411,0.5,1999-05-28,7087

In [37]:
features = well_data[["Depth1", "Depth2", "Easting", "Northing","DaysNum" ,"y"]]
features.head(5)

   Depth1  Depth2     Easting  Northing  DaysNum    y
0   260.0   268.0  13274717.9  281015.8    14372  0.5
1 -9999.0 -9999.0  13274221.6  281040.3    14372  0.5
2   272.0   280.0  13274722.1  280891.3    14372  0.5
3    61.0    65.0  13269250.0  286712.5     7025  0.5
4    61.0    65.0  13269250.0  286712.5     7087  0.5

In [39]:
import numpy as np
# Labels are the values we want to predict
labels = np.array(features['y'])
# Remove the labels from the features
# axis 1 refers to the columns
features= features.drop('y', axis = 1)
# Saving feature names for later use
feature_list = list(features.columns)
# Convert to numpy array

In [40]:
features = np.array(features)
features[:5]

array([[ 2.60000000e+02,  2.68000000e+02,  1.32747179e+07,
         2.81015800e+05,  1.43720000e+04],
       [-9.99900000e+03, -9.99900000e+03,  1.32742216e+07,
         2.81040300e+05,  1.43720000e+04],
       [ 2.72000000e+02,  2.80000000e+02,  1.32747221e+07,
         2.80891300e+05,  1.43720000e+04],
       [ 6.10000000e+01,  6.50000000e+01,  1.32692500e+07,
         2.86712500e+05,  7.02500000e+03],
       [ 6.10000000e+01,  6.50000000e+01,  1.32692500e+07,
         2.86712500e+05,  7.08700000e+03]])

In [41]:
labels[:5]

array([0.5, 0.5, 0.5, 0.5, 0.5])

In [42]:
# Using Skicit-learn to split data into training and testing sets
from sklearn.model_selection import train_test_split
# Split the data into training and testing sets
train_features, test_features, train_labels, test_labels \
    = train_test_split(features, labels,
                       test_size = 0.25, random_state = 42)

In [43]:
print('Training Features Shape:', train_features.shape)
print('Training Labels Shape:', train_labels.shape)
print('Testing Features Shape:', test_features.shape)
print('Testing Labels Shape:', test_labels.shape)

Training Features Shape: (18245, 5)
Training Labels Shape: (18245,)
Testing Features Shape: (6082, 5)
Testing Labels Shape: (6082,)

In [45]:
# The baseline predictions are the historical averages
baseline_preds = test_features[:, feature_list.index('DaysNum')]
# Baseline errors, and display average baseline error
baseline_errors = abs(baseline_preds - test_labels)
print('Average baseline error: ', round(np.mean(baseline_errors), 2))

Average baseline error:  10022.94

In [46]:
# Import the model we are using
from sklearn.ensemble import RandomForestRegressor
# Instantiate model with 1000 decision trees
rf = RandomForestRegressor(n_estimators = 1000, random_state = 42)
# Train the model on training data
rf.fit(train_features, train_labels)

In [47]:
# Use the forest's predict method on the test data
predictions = rf.predict(test_features)
# Calculate the absolute errors
errors = abs(predictions - test_labels)
# Print out the mean absolute error (mae)
print('Mean Absolute Error:', round(np.mean(errors), 2), 'degrees.')

Mean Absolute Error: 255.82 degrees.

In [48]:
# Calculate mean absolute percentage error (MAPE)
mape = 100 * (errors / test_labels)
# Calculate and display accuracy
accuracy = 100 - np.mean(mape)
print('Accuracy:', round(accuracy, 2), '%.')

Accuracy: -2038.43 %.

[ 6.525      15.5751854   3.58055556 ...  1.93755981 24.65882353
  0.6       ]