# Requirement in Sept üçÅ
## üü¶ Preparation
### üîπ Define Unity Function

In [2]:
import pathlib
import pandas as pd
import datetime
import matplotlib.pyplot as plt

In [3]:
CACHE_DIR = pathlib.Path('../../result(new)/cache/')
FIG_DIR = pathlib.Path('../../result(new)/fig/')

def get_ori_predict(well_name):
    well_name_dir = CACHE_DIR.joinpath(well_name)
    if not well_name_dir.exists(): return None
    ori = pd.read_csv(well_name_dir.joinpath('data.csv'), parse_dates=['Date'], squeeze=True)
    predict = pd.read_csv(well_name_dir.joinpath('predict.csv'), parse_dates=['Date'], squeeze=True)
    return ori, predict

### üîπ Get well name list

In [4]:
gelman_data = pd.read_excel("../../result(new)/joined_well_data.xlsx")
gelman_data.head(5)

,Unnamed: 0,Bore,Name,Depth1,Depth2,SampleDate,Value,Comment,Enabled,Easting,...,utm_datum,utm_zone,utm_x,utm_y,utm_unit,pj4_x,pj4_y,pj4_paramstr,lat,lon
0,0,1021 Westview Way,1-4 Dioxane,260.0,268.0,2019-05-08,0.5,EGLE Lab,False,13274717.9,...,22,12,0,0,1,0,0,NaN,42.269732,-83.807344
1,1,1024 Westview Way,1-4 Dioxane,-9999.0,-9999.0,2019-05-08,0.5,EGLE Lab,False,13274221.6,...,22,12,0,0,1,0,0,NaN,42.269808,-83.809177
2,2,1049 Westview Way,1-4 Dioxane,272.0,280.0,2019-05-08,0.5,EGLE Lab,False,13274722.1,...,22,12,0,0,1,0,0,NaN,42.269390,-83.807331
3,3,105 Myrtle,1-4 Dioxane,61.0,65.0,1999-03-27,0.5,NaN,False,13269250.0,...,22,12,0,0,1,0,0,NaN,42.285462,-83.827411
4,4,105 Myrtle,1-4 Dioxane,61.0,65.0,1999-05-28,0.5,NaN,False,13269250.0,...,22,12,0,0,1,0,0,NaN,42.285462,-83.827411

In [5]:
gelman_data.columns

Index(['Unnamed: 0', 'Bore', 'Name', 'Depth1', 'Depth2', 'SampleDate', 'Value',
       'Comment', 'Enabled', 'Easting', 'Northing', 'Elevation', 'TotalDepth',
       'CollarElevation', 'Comments', 'GEIcon', 'Color', 'SymbolTypeId',
       'NeedXYZCalc', 'dd_lon', 'dd_lat', 'lcs_x', 'lcs_y', 'lcs_unit',
       'pls_meridian', 'pls_range', 'pls_township', 'pls_section',
       'pls_offset_based', 'pls_x_offset', 'pls_y_offset', 'pls_fwl',
       'pls_fsl', 'pls_description', 'spc_zone', 'spc_x', 'spc_y', 'spc_unit',
       'utm_datum', 'utm_zone', 'utm_x', 'utm_y', 'utm_unit', 'pj4_x', 'pj4_y',
       'pj4_paramstr', 'lat', 'lon'],
      dtype='object')

In [6]:
well_name_list = list(dict.fromkeys(gelman_data['Bore'].tolist()))
well_name_list[0:10]

['1021 Westview Way',
 '1024 Westview Way',
 '1049 Westview Way',
 '105 Myrtle',
 '1052 Westview Way',
 '1080 Westview Way',
 '110 Parkland Plaza',
 '1105 Westview Way',
 '1108 Westview Way',
 '1130 Westview Way']

## üü¶ Remove wells that do not meet the requirements
with 15 valid records and in recent 5 years

In [7]:
count = 0
valid_well_list = []
for name in well_name_list:
    ori_pred = get_ori_predict(name)
    if ori_pred is not None:
        ori = ori_pred[0]
        is_valid_record_num = \
            len(ori) > 15
        is_valid_end_date = \
            ori.iloc[-1]['Date'] > \
            datetime.datetime(2016, 12, 31)
        if is_valid_end_date and is_valid_record_num:
            valid_well_list.append(name)

In [8]:
len(valid_well_list)

226

### üîπ Generate xlsx with valid data

In [9]:
valid_data = gelman_data.loc[gelman_data['Bore'].isin(valid_well_list)]
valid_data.head(10)

,Unnamed: 0,Bore,Name,Depth1,Depth2,SampleDate,Value,Comment,Enabled,Easting,...,utm_datum,utm_zone,utm_x,utm_y,utm_unit,pj4_x,pj4_y,pj4_paramstr,lat,lon
17,17,110 Parkland Plaza,1-4 Dioxane,80.2,91.0,1986-08-22,17.0,NaN,False,13272829.0,...,22,12,0,0,1,0,0,NaN,42.283188,-83.814204
18,18,110 Parkland Plaza,1-4 Dioxane,80.2,91.0,1986-09-19,17.0,NaN,False,13272829.0,...,22,12,0,0,1,0,0,NaN,42.283188,-83.814204
19,19,110 Parkland Plaza,1-4 Dioxane,80.2,91.0,1986-10-10,12.0,NaN,False,13272829.0,...,22,12,0,0,1,0,0,NaN,42.283188,-83.814204
20,20,110 Parkland Plaza,1-4 Dioxane,80.2,91.0,1987-11-09,7.0,NaN,False,13272829.0,...,22,12,0,0,1,0,0,NaN,42.283188,-83.814204
21,21,110 Parkland Plaza,1-4 Dioxane,80.2,91.0,1988-04-18,13.0,NaN,False,13272829.0,...,22,12,0,0,1,0,0,NaN,42.283188,-83.814204
22,22,110 Parkland Plaza,1-4 Dioxane,80.2,91.0,1988-12-09,14.0,NaN,False,13272829.0,...,22,12,0,0,1,0,0,NaN,42.283188,-83.814204
23,23,110 Parkland Plaza,1-4 Dioxane,80.2,91.0,1989-07-19,11.0,NaN,False,13272829.0,...,22,12,0,0,1,0,0,NaN,42.283188,-83.814204
24,24,110 Parkland Plaza,1-4 Dioxane,80.2,91.0,1990-01-30,12.0,NaN,False,13272829.0,...,22,12,0,0,1,0,0,NaN,42.283188,-83.814204
25,25,110 Parkland Plaza,1-4 Dioxane,80.2,91.0,1990-08-01,8.0,NaN,False,13272829.0,...,22,12,0,0,1,0,0,NaN,42.283188,-83.814204
26,26,110 Parkland Plaza,1-4 Dioxane,80.2,91.0,1991-01-23,10.0,NaN,False,13272829.0,...,22,12,0,0,1,0,0,NaN,42.283188,-83.814204

In [10]:
valid_data.to_excel("../../result(new)/remove_invalid_well_data.xlsx")

### üîπ Generate summary

In [11]:
import pathlib
f = open("../../result(new)/summary_remove_invalid.md", "w")
FIG_CC_DIR = pathlib.Path('../../result(new)/fig_cc/')
f.write("# Summary\n")
for i in valid_well_list:
    f.write("## "+i+"\n")
    f.write('\n')
    f.write('![](./fig_cc/'+str(i.replace(' ', '_'))+'.png)\n')
f.close()

## üü¶ Prediction with all wells within a radius of 500m

### üîπ distance cal function

In [12]:
from math import sin, cos, sqrt, atan2, radians
def cal(c1, c2):
    # approximate radius of earth in km
    R = 6373.0
    lat1 = radians(c1[0])
    lon1 = radians(c1[1])
    lat2 = radians(c2[0])
    lon2 = radians(c2[1])
    dlon = lon2 - lon1
    dlat = lat2 - lat1
    a = sin(dlat / 2)**2 + cos(lat1) * cos(lat2) * sin(dlon / 2)**2
    c = 2 * atan2(sqrt(a), sqrt(1 - a))
    distance = R * c
    return distance

### üîπ select nearby wells for each well

In [13]:
well_coord = {}
for well_name in valid_well_list:
    var = gelman_data.loc[gelman_data['Bore'] == well_name].iloc[0]
    well_coord[well_name] = (var['lat'], var['lon'])

In [14]:
nearby = {}
for i in valid_well_list:
    nb_list = []
    coord1 = well_coord[i]
    sum = 0
    count = 0
    for j in valid_well_list:
        if i != j:
            coord2 = well_coord[j]
            dis = cal(coord1, coord2)
            sum += dis
            count += 1
            if dis < 0.2:
                nb_list.append(j)
    # print(sum /  count)
    nearby[i] = nb_list
list(nearby.items())[:2]

[('110 Parkland Plaza', ['4141 Jackson Rd']),
 ('170 Aprill', ['MW-35', 'MW-66'])]

### üîπ predict with nearby data

In [15]:
well_data = gelman_data
well_data.loc[:, 'y']= pd.to_numeric(well_data['Value'])
well_data.loc[:, 'ds']= pd.to_datetime(well_data['SampleDate'])
well_data.head(5)

,Unnamed: 0,Bore,Name,Depth1,Depth2,SampleDate,Value,Comment,Enabled,Easting,...,utm_x,utm_y,utm_unit,pj4_x,pj4_y,pj4_paramstr,lat,lon,y,ds
0,0,1021 Westview Way,1-4 Dioxane,260.0,268.0,2019-05-08,0.5,EGLE Lab,False,13274717.9,...,0,0,1,0,0,NaN,42.269732,-83.807344,0.5,2019-05-08
1,1,1024 Westview Way,1-4 Dioxane,-9999.0,-9999.0,2019-05-08,0.5,EGLE Lab,False,13274221.6,...,0,0,1,0,0,NaN,42.269808,-83.809177,0.5,2019-05-08
2,2,1049 Westview Way,1-4 Dioxane,272.0,280.0,2019-05-08,0.5,EGLE Lab,False,13274722.1,...,0,0,1,0,0,NaN,42.269390,-83.807331,0.5,2019-05-08
3,3,105 Myrtle,1-4 Dioxane,61.0,65.0,1999-03-27,0.5,NaN,False,13269250.0,...,0,0,1,0,0,NaN,42.285462,-83.827411,0.5,1999-03-27
4,4,105 Myrtle,1-4 Dioxane,61.0,65.0,1999-05-28,0.5,NaN,False,13269250.0,...,0,0,1,0,0,NaN,42.285462,-83.827411,0.5,1999-05-28

In [16]:
grouped = well_data.groupby('Bore')
well_data_dict = {}
for name, group in grouped:
    if name in valid_well_list:
        well_data_dict[name] = grouped

In [17]:
from autots import AutoTS

In [18]:
count = 0
all_well_data = []
for name in valid_well_list:
    if name < 'MW-136':
        continue

    try:
        t  = nearby[name] + list(name)
        group = gelman_data.loc[gelman_data['Bore'].isin(t)]
        group['Date'] = pd.to_datetime(group['ds'])
        group.set_index('Date', inplace=True)
        mod = AutoTS(forecast_length=5,
                 frequency='Y',
                 ensemble='simple',
                 no_negatives=True,
                 min_allowed_train_percent = 0.2,
                 verbose=-4)
        mod = mod.fit(group, date_col='ds', value_col='y', id_col=None)
        prediction = mod.predict()
        forecast = prediction.forecast

        ft = open("../../result(r=200)/mod/" + name + '.txt', "w")
        ft.write(str(mod))
        ft.close()

        fig, ax = plt.subplots()
        # ax.plot(group.y,  label='a')
        # ax.plot(forecast,  label='b')

        ax.scatter(group.y.index, group.y, label = 'a')
        ax.scatter(forecast.index, forecast, label = 'b')

        ax.set_title(name)
        plt.savefig('../../result(r=200)/fig/'+name+'.png')

        cache_dir = pathlib.Path('../../result(r=200)/cache/'+name)
        cache_dir.mkdir(parents=True, exist_ok=True)

        group.y.to_csv(cache_dir.joinpath('data.csv'))
        forecast.index.name = "Date"
        forecast.squeeze().to_csv(cache_dir.joinpath('predict.csv'))

        all_well_data.append((name, group.y, forecast, mod))
        count+=1
        print("[predict success]", name)

    except KeyboardInterrupt:
        break

    except:
        print("[predict error]", name)
        count+=1
        continue

<ipython-input-18-6a2081e09481>:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  group['Date'] = pd.to_datetime(group['ds'])
Importing plotly failed. Interactive plots will not work.

### üîπ Generate summary

In [32]:
import pathlib
f = open("../../result(r=200)/summary_remove_invalid.md", "w")
FIG_CC_DIR = pathlib.Path('../../result(r=200)/fig/')
f.write("# Summary\n")
for i in valid_well_list:
    f.write("## "+i+"\n")
    f.write('\n')
    f.write('![](./fig/'+str(i).replace(' ', '_')+'.png)\n')
f.close()

In [31]:
import os

dirname = '../../result(r=200)/fig/'
for f in os.listdir(dirname):
    print(f)
    f_new = f.replace('#1', '_1').replace('#2', '_2').replace('#3', '_3').replace(' ', '_')
    print(f_new)
    os.rename(os.path.join(dirname, f),os.path.join(dirname, f_new))

4742 Park Rd.png
4742_Park_Rd.png
MW-35.png
MW-35.png
MW-105s.png
MW-105s.png
MW-105d.png
MW-105d.png
4141 Jackson Rd.png
4141_Jackson_Rd.png
MW-20.png
MW-20.png
MW-129d.png
MW-129d.png
MW-129s.png
MW-129s.png
MW-38d.png
MW-38d.png
MW-38s.png
MW-38s.png
MW-130i.png
MW-130i.png
MW-59s.png
MW-59s.png
MW-59d.png
MW-59d.png
MW-2d.png
MW-2d.png
MW-22.png
MW-22.png
MW-2s.png
MW-2s.png
MW-36.png
MW-36.png
MW-18d.png
MW-18d.png
MW-63d.png
MW-63d.png
MW-63s.png
MW-63s.png
MW-37.png
MW-37.png
MW-23.png
MW-23.png
MW-34d.png
MW-34d.png
MW-34s.png
MW-34s.png
MW-133d.png
MW-133d.png
MW-133s.png
MW-133s.png
MW-124d.png
MW-124d.png
MW-124s.png
MW-124s.png
MW-62d.png
MW-62d.png
MW-62s.png
MW-62s.png
MW-108s.png
MW-108s.png
MW-108d.png
MW-108d.png
456 Clarendon.png
456_Clarendon.png
MW-32.png
MW-32.png
373 Pinewood Deep.png
373_Pinewood_Deep.png
MW-58s.png
MW-58s.png
MW-58d.png
MW-58d.png
170 Aprill.png
170_Aprill.png
MW-39d.png
MW-39d.png
MW-39s.png
MW-39s.png
MW-128d.png
MW-128d.png
MW-24.png
MW-24.png
MW-128s.png
MW-128s.png
MW-15s.png
MW-15s.png
MW-15d.png
MW-15d.png
MW-42s.png
MW-42s.png
MW-42d.png
MW-42d.png
MW-31.png
MW-31.png
MW-54s.png
MW-54s.png
MW-54d.png
MW-54d.png
MW-112s.png
MW-112s.png
MW-112d.png
MW-112d.png
MW-4d.png
MW-4d.png
MW-65d.png
MW-65d.png
MW-65s.png
MW-65s.png
A2 Cleaning Supply.png
A2_Cleaning_Supply.png
MW-57.png
MW-57.png
MW-123d.png
MW-123d.png
MW-123s.png
MW-123s.png
465 Dupont.png
465_Dupont.png
3365 Jackson Rd.png
3365_Jackson_Rd.png
MW-53s.png
MW-53s.png
MW-53d.png
MW-53d.png
MW-45s.png
MW-45s.png
MW-45d.png
MW-45d.png
MW-103s.png
MW-103s.png
MW-103d.png
MW-103d.png
MW-68.png
MW-68.png
HZ-S.png
HZ-S.png
MW-50.png
MW-50.png
LB-1.png
LB-1.png
MW-52s.png
MW-52s.png
MW-52d.png
MW-52d.png
IW-2.png
IW-2.png
MW-134d.png
MW-134d.png
MW-134s.png
MW-134s.png
MW-25d.png
MW-25d.png
MW-25s.png
MW-25s.png
MW-122d.png
MW-122d.png
MW-122s.png
MW-122s.png
MW-118.png
MW-118.png
MW-125.png
MW-125.png
MW-119.png
MW-119.png
MW-5d.png
MW-5d.png
MW-30i.png
MW-30i.png
MW-46.png
MW-46.png
4601 Park 6 inch.png
4601_Park_6_inch.png
5115 Jackson Rd.png
5115_Jackson_Rd.png
MW-121s.png
MW-121s.png
MW-121d.png
MW-121d.png
MW-30d.png
MW-30d.png
MW-100.png
MW-100.png
DOLPH.png
DOLPH.png
MW-101.png
MW-101.png
MW-134i.png
MW-134i.png
MW-52i.png
MW-52i.png
110 Parkland Plaza.png
110_Parkland_Plaza.png
MW-48.png
MW-48.png
MW-60.png
MW-60.png
MW-117.png
MW-117.png
MW-10d.png
MW-10d.png
MW-116.png
MW-116.png
MW-49.png
MW-49.png
MW-11d.png
MW-11d.png
MW-113.png
MW-113.png
MW-107.png
MW-107.png
5005 Jackson Rd.png
5005_Jackson_Rd.png
MW-64.png
MW-64.png
175 Jackson Plaza.png
175_Jackson_Plaza.png
MW-53i.png
MW-53i.png
MW-66.png
MW-66.png
MW-65i.png
MW-65i.png
MW-110.png
MW-110.png
MW-120s.png
MW-120s.png
MW-120d.png
MW-120d.png
MW-112i.png
MW-112i.png
373 Pinewood Shallow.png
373_Pinewood_Shallow.png
MW-28.png
MW-28.png
4401 Park West.png
4401_Park_West.png
MW-41d.png
MW-41d.png
MW-41s.png
MW-41s.png
4601 Park 4 inch.png
4601_Park_4_inch.png
697 South Wagner Rd.png
697_South_Wagner_Rd.png
MW-131s.png
MW-131s.png
MW-131d.png
MW-131d.png
MW-127s.png
MW-127s.png
MW-1 Replacement.png
MW-1_Replacement.png
MW-127d.png
MW-127d.png
MW-17.png
MW-17.png
MW-61s.png
MW-61s.png
MW-61d.png
MW-61d.png
MW-62i.png
MW-62i.png
MW-16.png
MW-16.png
MW-133i.png
MW-133i.png
AMW-2.png
AMW-2.png
2575 Valley.png
2575_Valley.png
MW-63i.png
MW-63i.png
MW-126s.png
MW-126s.png
MW-126d.png
MW-126d.png
ARTESIAN #3.png
ARTESIAN__3.png
MW-130s.png
MW-130s.png
MW-130d.png
MW-130d.png
2819 Dexter Rd.png
2819_Dexter_Rd.png
MW-56d.png
MW-56d.png
MW-56s.png
MW-56s.png
AMW-1.png
AMW-1.png
MW-40d.png
MW-40d.png
MW-40s.png
MW-40s.png
MW-129i.png
MW-129i.png
MW-106d.png
MW-106d.png
MW-106s.png
MW-106s.png