In [1]:

import pandas as pd

In [2]:
df = pd.read_excel('../data/Gelman_MannKendall.xlsx')

In [3]:
df = df.drop(columns=['p', 'z','Tau','s','var_s','slope','intercept'])

In [4]:
import os

In [5]:
def get_maximal_history (row):
    name = row['Well name']
    if not os.path.exists('../result/ori/simple/8v/cache/' +  name  + '/data.csv'):
       return None
    ori_data = pd.read_csv('../result/ori/simple/8v/cache/' + name + '/data.csv')
    return max(ori_data['y'])

df['maximal historical'] = df.apply(lambda row: get_maximal_history(row), axis=1)
df

                         Well name       trend      h  maximal historical
0               110 Parkland Plaza  decreasing   True                17.0
1                       170 Aprill    no trend  False                26.0
2                175 Jackson Plaza  increasing   True              1324.0
3                      2575 Valley  increasing   True               110.0
4                   2601 Dexter Rd  increasing   True                 NaN
..                             ...         ...    ...                 ...
302              Tributary/Outfall    no trend  False                 NaN
303              Tributary/Park Rd    no trend  False                 NaN
304                   Varsity Ford    no trend  False                 NaN
305  Weber's Drain 1st Sister Lake    no trend  False                 NaN
306        Weber's Heat Pump Drain    no trend  False                 NaN

[307 rows x 4 columns]

In [6]:
from functools import partial


def get_predict (year, row):
    name = row['Well name']
    if not os.path.exists('../result/ori/simple/8v/cache/' +  name  + '/predict.csv'):
       return None
    data = pd.read_csv('../result/ori/simple/8v/cache/' + name + '/predict.csv')
    return data.iloc[year]['y']
p2021 = partial(get_predict, 0)
p2022 = partial(get_predict, 1)
p2023 = partial(get_predict, 2)
p2024 = partial(get_predict, 3)
p2025 = partial(get_predict, 4)

df['2021 Prediction'] = df.apply(lambda row: p2021(row), axis=1)
df['2022 Prediction'] = df.apply(lambda row: p2022(row), axis=1)
df['2023 Prediction'] = df.apply(lambda row: p2023(row), axis=1)
df['2024 Prediction'] = df.apply(lambda row: p2024(row), axis=1)
df['2025 Prediction'] = df.apply(lambda row: p2025(row), axis=1)
df

,Well name,trend,h,maximal historical,2021 Prediction,2022 Prediction,2023 Prediction,2024 Prediction,2025 Prediction
0,110 Parkland Plaza,decreasing,True,17.0,0.385181,0.064425,0.000000,0.000000,0.000000
1,170 Aprill,no trend,False,26.0,2.300919,0.903777,0.000000,0.000000,0.000000
2,175 Jackson Plaza,increasing,True,1324.0,893.810164,899.332249,993.621951,1105.759578,1020.256106
3,2575 Valley,increasing,True,110.0,81.655723,86.444246,91.232768,96.035574,100.824097
4,2601 Dexter Rd,increasing,True,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...
302,Tributary/Outfall,no trend,False,NaN,NaN,NaN,NaN,NaN,NaN
303,Tributary/Park Rd,no trend,False,NaN,NaN,NaN,NaN,NaN,NaN
304,Varsity Ford,no trend,False,NaN,NaN,NaN,NaN,NaN,NaN
305,Weber's Drain 1st Sister Lake,no trend,False,NaN,NaN,NaN,NaN,NaN,NaN
306,Weber's Heat Pump Drain,no trend,False,NaN,NaN,NaN,NaN,NaN,NaN

In [7]:
df = df.dropna()

In [8]:
df['Prediction High'] = df.apply(lambda row: max([row['2025 Prediction'],row['2021 Prediction'],row['2022 Prediction'],row['2023 Prediction'],row['2024 Prediction']]), axis=1)
df['Below detectable level (1 ppb)'] = df.apply(lambda row: row['Prediction High'] < 1, axis=1)
df['Below trigger for responese level (4 ppb)'] = df.apply(lambda row: row['Prediction High'] < 4, axis=1)
df['Below current drinking water standard (7.2 ppb)'] = df.apply(lambda row: row['Prediction High'] < 7.2, axis=1)
df['Below previous drinking water standard (85 ppb)'] = df.apply(lambda row: row['Prediction High'] < 85, axis=1)
df

<ipython-input-8-4d097e29dd67>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['Prediction High'] = df.apply(lambda row: max([row['2025 Prediction'],row['2021 Prediction'],row['2022 Prediction'],row['2023 Prediction'],row['2024 Prediction']]), axis=1)
<ipython-input-8-4d097e29dd67>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['Below detectable level (1 ppb)'] = df.apply(lambda row: row['Prediction High'] < 1, axis=1)
<ipython-input-8-4d097e29dd67>:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['Below trigger for responese level (4 ppb)'] = df.apply(lambda row: row['Prediction High'] < 4, axis=1)
<ipython-input-8-4d097e29dd67>:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['Below current drinking water standard (7.2 ppb)'] = df.apply(lambda row: row['Prediction High'] < 7.2, axis=1)
<ipython-input-8-4d097e29dd67>:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['Below previous drinking water standard (85 ppb)'] = df.apply(lambda row: row['Prediction High'] < 85, axis=1)

,Well name,trend,h,maximal historical,2021 Prediction,2022 Prediction,2023 Prediction,2024 Prediction,2025 Prediction,Prediction High,Below detectable level (1 ppb),Below trigger for responese level (4 ppb),Below current drinking water standard (7.2 ppb),Below previous drinking water standard (85 ppb)
0,110 Parkland Plaza,decreasing,True,17.0,0.385181,0.064425,0.000000,0.000000,0.000000,0.385181,True,True,True,True
1,170 Aprill,no trend,False,26.0,2.300919,0.903777,0.000000,0.000000,0.000000,2.300919,False,True,True,True
2,175 Jackson Plaza,increasing,True,1324.0,893.810164,899.332249,993.621951,1105.759578,1020.256106,1105.759578,False,False,False,False
3,2575 Valley,increasing,True,110.0,81.655723,86.444246,91.232768,96.035574,100.824097,100.824097,False,False,False,False
5,2643 Dexter Rd,no trend,False,12.0,31.284734,4.196700,4.446853,4.697007,4.947160,31.284734,False,False,False,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
295,TW-4,decreasing,True,6743.0,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,True,True,True,True
296,TW-5,decreasing,True,12871.0,48.321834,48.321834,48.321834,48.321834,48.321834,48.321834,False,False,False,True
297,TW-6,decreasing,True,23267.0,77.000000,77.000000,77.000000,77.000000,77.000000,77.000000,False,False,False,True
298,TW-8,decreasing,True,1304.0,704.777778,704.777778,704.777778,704.777778,704.777778,704.777778,False,False,False,False
299,TW-9,decreasing,True,12761.0,31.583032,31.507047,31.465114,31.436437,31.414787,31.583032,False,False,False,True

In [9]:
df = df.drop(['h'], axis=1)
df

,Well name,trend,maximal historical,2021 Prediction,2022 Prediction,2023 Prediction,2024 Prediction,2025 Prediction,Prediction High,Below detectable level (1 ppb),Below trigger for responese level (4 ppb),Below current drinking water standard (7.2 ppb),Below previous drinking water standard (85 ppb)
0,110 Parkland Plaza,decreasing,17.0,0.385181,0.064425,0.000000,0.000000,0.000000,0.385181,True,True,True,True
1,170 Aprill,no trend,26.0,2.300919,0.903777,0.000000,0.000000,0.000000,2.300919,False,True,True,True
2,175 Jackson Plaza,increasing,1324.0,893.810164,899.332249,993.621951,1105.759578,1020.256106,1105.759578,False,False,False,False
3,2575 Valley,increasing,110.0,81.655723,86.444246,91.232768,96.035574,100.824097,100.824097,False,False,False,False
5,2643 Dexter Rd,no trend,12.0,31.284734,4.196700,4.446853,4.697007,4.947160,31.284734,False,False,False,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...
295,TW-4,decreasing,6743.0,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,True,True,True,True
296,TW-5,decreasing,12871.0,48.321834,48.321834,48.321834,48.321834,48.321834,48.321834,False,False,False,True
297,TW-6,decreasing,23267.0,77.000000,77.000000,77.000000,77.000000,77.000000,77.000000,False,False,False,True
298,TW-8,decreasing,1304.0,704.777778,704.777778,704.777778,704.777778,704.777778,704.777778,False,False,False,False
299,TW-9,decreasing,12761.0,31.583032,31.507047,31.465114,31.436437,31.414787,31.583032,False,False,False,True

In [13]:
df = df.reset_index(drop=True)
df = df.rename(columns={"trend": "Trend", "maximal historical": "Historical High"})
df.to_csv('mk_pred.csv')